/* css styles */

.navbar-logo {
  max-height: 100px !important; /* Adjust the pixel value as needed */
  /* Optionally, you can set an explicit height or width */
  /* height: 100px !important; */
  /* width: auto !important; */
}